<h1 class="current-category"><%= params[:category]%>

<% if user_signed_in? %>
         <% if @books.count == 0 %>
            <h1>There are no books currently in this category </h1>
            <% else %>
            <div class="row">
               <% @books.each do |book| %>
                  <div class="col-md-3">
                        <% if book&.avatar.present? %> 
                           <a href="/books/<%= book.id %>">
                              <%= image_tag book.avatar, class: "book" %> 
                           </a> 
                        <% else %>
                           <a href="/books/<%= book.id %>">
                                 <%= image_tag("/assets/default.jpeg", :alt => "logo")%>
                           </a> 
                        <% end %>
                  </div>   
               <% end %>
            </div>
         <% end %>
<% else %> 
 <h1>Please Sign up/ Log in</h1>              
<% end %>       




